*, *:after,
 *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out;
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
color: #373737;
background:#d1d1d1;
}

header:after,.additional:after, .btn:after, .service:after, .photo_lion:after, .pfotograf:after,.text:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
} 

.container {
margin: 0 auto;
width: 100%;
max-width: 1450px;
padding: 0 15px;
} 
header {
width: 100%;
background: #d1d1d1;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}
/* логотип */
.logo {
display: block; 
float: left;
}
header .crescent{
	width: 50px;
	height: 50px;
    border-radius: 50%;
	box-shadow: 7px 7px 0 0 green;
    transform: rotate(160deg);    
    margin: 20px 0 -45px  20px;
}

.site_name_big{
    color: black;
     font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin: 0 0 0  25px;
}
 .site_name_small {
    color: gray;
    font-size: 10px;
    text-align: left;
     margin: 0 0 0  25px;
   }


header .call, .number{
   	color: black;
    font-size: 10px;
    text-align: right;
     margin: -30px 0 0 0;
     float: right;
margin-left: 46px;
display: inline-block;
position: relative;
    }
 header .number{   
    font-size: 20px;
    margin: 0 0 10px 0;
 }

header .menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-end;
    margin: 40px;
}

/* меню */
.menu a{
    text-decoration: none;
}

.menu_2{
  width: auto;
  margin: 20px auto;
  list-style-type: none;
  border-radius: 5px 5px;
  text-align: center;
  background-color:green;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: 0 5px 6px black;
}

.menu_2 li{
  display: inline;
}

.menu_2 a{
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  width: 100px; 
}

.menu_2 a:hover{
  border-radius: 5px 5px;
  background-color: grey;
  text-decoration: none;
}
.home{
  margin: 0 0 20px 40px;
  color: green;
}
.photo_lion,
.information_site {
     background-color: white;

}
.photo_lion img {
    width: 800px;
    height: 260px;  
    margin: 30px;
}
.photo_lion {    
    background-position: left 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
  font-weight: bold;
}
.text{
      width: 600px; 
    margin: 20px; 
}
h2{
   margin: 5px 5px;  
}
.pfotograf {
width: 260px;
height: 200px;
    text-align: right;
    margin: -102px 0 0 555px;  
}
.btn{
    margin:  0 0 0 20px;

}
.btn button{
    background-color: white;
    border: 1px solid grey;
    color: black;
    float: left;
    width: 270px;
    height: 50px;
    cursor: pointer;
    font-weight: bolder; 
  border-radius: 5px 5px;
 text-shadow: 0 5px 5px black;
}
.btn1 button{
    background-color: green;
    color: white;   
}
button:active{
background-color: green;
}
.delta{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 70px solid green;
    margin: 0 0 0 110px;
}
.service{
    display: flex;
    flex-wrap:  wrap;     
    margin: 20px;
}
.one-item,
.two-item,
.three-item,
.four-item,
.fife-item,
.six-item
{
    max-width: 280px;    
    margin-top: -10px;
}
.service-item{
    flex-grow:3 ;
}
.img-holidays img{
    width: 250px;
    height: 130px;  
}
.text_{
    width: 90%;
    margin: 22px 0 45px 0; 
}

.additional{
    background-color:white;

}
.add{
    width: auto;
  margin: 20px auto;
  border-radius: 5px 5px;
  text-align: center;
  background-color:grey;
  padding: 10px 0;
  color: white;
  font-style: italic;
}
.additional_ button{
border-radius: 5px 5px;
    background-color: grey;
    color: white;
    font-weight: bolder;
    height: 40px;
    text-align: center;
}
.additional h3{

    color: #CD853F;
}
.additional li{
    color: grey;
}
nav ul {
          display: flex;
          justify-content: space-between;
          max-width: 1000px;

          list-style:none;
          padding: 0;
          margin: 0;
        }
        nav li {
          max-height: 300px;
          display: inline-block;
        }
.additional_ nav{
    margin: 20px;
}
.retreat{
    margin: 10px 0 0 0;
}
.line{
    border-left: 2px solid #ccc;
    margin-left: 20px;
    padding-left: 10px;
}

.im {
  width: 15px;
  height: 15px;
}
/* лiвuй контейнер */
.posts-list {
margin-bottom: 30px;
width: 65%;
float: left;
}

/* правuй контейнер */
aside {
width: 35%;
float: right;
}
.small_block{
background-color: #fffdd0;
margin-left: 0px;
margin: 35px 0 0 0;
}
.title_small_2,
.title_small{
    margin-left:10px;
}
.title_small_4{
	margin:20px;
	line-height: 23px; 
}

.subscribe-form1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 40px;
    }
.subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 40px;
    }
.button {
  background: green;
  position: relative;
  margin: 20px;
  width: 170px;
  height: 50px;
  text-align: center;
}
.button::after{
  content: '';
  position: absolute;
  right: -45px;
  top: 0px;
  border:25px solid transparent;
  border-left: 20px solid green;
  text-align: center;

}  
.button button{
color: white;
width: 170px;
  height: 50px;
background-color: green;
text-align: center;
  font-weight: bolder; 
}
.s{
  color: #013220;
}
.submit{
  background-color: green;
  color: white; 
  margin-left: 5px;
}
.line2 {
  border: 1px solid #ccc;
  margin: 20px 0 0 0;
  height: 0;
}

.highlight{
  font-weight: bold;
}
.copyright{
  font-size: 13px;
  text-align: center;
}

footer {
padding: 30px 0;
background: #d1d1d1;
color: black;
}

@media (max-width: 768px) {
.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}

#menu li {
display: block;
text-align: center;
border-bottom: 1px solid #EBEBE3;
margin-right: 0;
}
/* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
.posts-list, aside {
width: 100%;
float: none;
}

#menu {
top: 118px;
}

